    body{
       user-select: none;
    }
    .navbar-toggle{
        float: none;
        margin-top: 0px;
    }

    .navbar{
        font-size: 20px;
        text-align: center;
    }
    .header-line{
        margin-top: 10px;
        user-select: none;
    }
    .navbar .nav-title{
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0.01em;
        text-align: center;
        pointer-events: none;
    }
    #wrap {
      margin: 0px auto;
      background: url(/static/img/block.gif);
      position: relative;
      height: 560px;
    }
    .container .show-grid{
        margin-bottom: 15px;
    }
    #wrap div {
      width: 35px;
      height: 35px;
      position: absolute;
      transition: .1s;
    }

    #wrap div img {
      position: absolute;
      bottom: 0;
    }

    #wrap div.ball img {
      left: 50%;
      bottom: 50%;
      margin-left: -15px;
      margin-bottom: -15px;
    }
    #wrap div.person img {
      left: 50%;
      margin-left: -25px;
    }
    .game-map {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-gap: 5px;
        padding: 10px;
        box-sizing: border-box;
        margin: 0px auto;
        background: url(/static/img/block.gif);
        position: relative;

    }
    .leaderboard-new{
	margin:auto;
	background: none;
	border: 2px solid #27AAE2;
	border-color: #3DB39E;
	font-family: Arial;
}
.leaderboard-new h2{
	text-align:center;
	background: #21445f;
	color: #fff;
	margin: 0px;
	padding: 5px 0;
	font-size: 22px;
	font-family: Arial;
	text-align: center;
}
.toggleleaderboard{
	color: white;
}
ul.tabs{
	display: block;
	width: 100%;
	padding-left: 0px;
	background:#eee;
}
ul.tabs li{
	display: inline-block;
	width: 49%;
}
ul.tabs li a{
	display: inline-block;
	padding: 10px 0px;
	width: 100%;
	font-size: 16px;
	color: #3DB39E;
	text-align: center;
	text-decoration: none;
	border:1px solid #3DB39E;

}
#tb1.active {border-right:1px solid white}
#tb2.active {border-left:1px solid white}
ul.tabs li a.active{
	font-weight:bold;
	border-bottom:1px solid #DBE7E3;
	background:white;

}
ul.tabs li a:hover {background:white}
ul.players-list{
	margin: 0;
	padding: 0;
}
ul.players-list li{
	display: block;
	padding: 10px 5px;
	list-style-type: none;
	position: relative;
	color: #525657;
	cursor: default;
	border-bottom:1px solid #ccc;
}
ul.players-list li:hover{
	background: #F1F3F2;
}
ul.players-list li.active{
	background: #CAD2F9;
}
ul.players-list li .pos-tag{
	position: absolute;
	top: 18px;
	left: -13px;
	display: block;
	width: 20px;
	height: 20px;
	background: #FAFFFF;
	border-radius: 30px;
	border: 1px solid white;
	color: #3DB39E;
	text-align: center;
	line-height: 20px;
}
ul.players-list li .pos-tag.top{
	background: #21445f;
	color: white;
}
ul.players-list li .pos-tag.second{
	background: #3DB39E;
	color: white;
}
ul.players-list li .avatar, .avatar{
	float: left;
	height: 40px;
	border-radius: 2px;
	margin:0 8px;
}
ul.players-list li .name, .name{
	float: left;
	margin: 2px 0px 2px 17px;
	padding: 0px;
	width: 56%;
	font-weight: normal;
}
ul.players-list li .meta, .meta{
	float: left;
	margin:0px 0px 0px 17px;
	font-size: 14px;
}
ul.players-list li .points, .points{
	font-size: 20px;
	font-weight: normal;
	margin: 0px 5px 0px 0px;
}
.noBullet{list-style-type: none;}