<html lang="en">
 {% include 'common.html'%}
<body>
  {% include 'navHeader.html'%}
  <div class="container">
    <div class="row show-grid ">
        <div id="alertSpace"class="col-md-6 col-md-offset-3"></div>
        <div id="signInDiv" class="col-md-6 col-md-offset-3">
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">N</span>
              <input id="userName" type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon1">
            </div>
             <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">E</span>
              <input id="email" type="text" class="form-control" placeholder="Email" aria-describedby="sizing-addon1">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon">P</span>
                <input id="password" type="password" class="form-control" placeholder="password"
                         aria-describedby="sizing-addon1">
            </div>
             <div class="input-group input-group-lg">
                <span class="input-group-addon">P</span>
                <input id="passwordTwo" type="password" class="form-control" placeholder="password again"
                         aria-describedby="sizing-addon1">
             </div>
        <div class="row  btn-row col-md-7 col-md-offset-4">
            <div>
                <button id= "reset"  class="btn btn-default">reset</button>
               <button id= "loginBtn" type="submit" class="btn btn-primary">Sign</button>
            </div>
        </div>
    </div>
  </div>
  <!--Model signInSuccessModal-->
<div class="modal fade" id="signInSuccessModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
                <div class="alert alert-success" role="alert">Sign Success!You could play with others</div>
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
</div>
  <!--Model loginSuccessModal-->
<div class="modal fade" id="signFailModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
                <div class="alert alert-danger" role="alert">User exit! try another email</div>
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
</div>

  <script>
  (function (){
      function userNameValid(value){
          var reg = new RegExp('^[0-9A-Za-z]{5,24}$'); //字母，数字 6-24 long
          return reg.test(value)
      }
      function  emailValid(value){
          return new RegExp('^[A-Za-z0-9\u4e00-\u9fa5]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$')
              .test(value);
      }
      function  passWordValid(value){
          return value.length > 6 && value.length < 20
      }
      function addAlert(errorType,errorMessage){
          var domString = "<div data-error-type="+ errorType +" class='alert " +
              "alert-warning alert-dismissible fade in' role='alert'>" +
              "{errorMessage}" +
              "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
                + "<span aria-hidden='true'>&times;</span>" +
              "</button>" +
              "</div>"
          var elememt = domString.replace('{errorMessage}', errorMessage)

          if($("#alertSpace").find('[data-error-type='+errorType+']').length==0){
               $("#alertSpace").append(elememt)
          }

      }

      function removeAlert(errorType){
          $('[data-error-type='+errorType+']').remove()
      }

      $("#userName").on('change',function (event){
        if(userNameValid(event.target.value)){
               removeAlert("userNameError");
          }else {
              addAlert("userNameError","Please Check Your UserName,Require No Special Characters");
          }
      })
      $("#email").on('change',function (event){
          if(emailValid(event.target.value)){
               removeAlert("emailError");
          }else {
              addAlert("emailError","Please Check Your EmailError");
          }
      })
      $("#password").on('change',function (event){
        if(passWordValid(event.target.value)){
            removeAlert("passwordError");
        }else {
            addAlert("passwordError","Please Check Your PassWord,Require 6-20");
        }
      })
      $("#passwordTwo").on('change',function (event){
         if(passWordValid(event.target.value)){
            removeAlert("passwordError");
        }else {
            addAlert("passwordError","Please Check Your PassWord,Require 6-20");
        }
      })
      // clear input
      $("#reset").on('click',function (){
         $("#signInDiv").find('input').val("");
      })

      $("#loginBtn").on('click',function (){
        if(!userNameValid($("#userName").val()) || !passWordValid($("#password").val())
            || !emailValid($("#email").val()))
          {
             addAlert("checkInput","Please Check Your Input");
             setInterval(function (){
                 removeAlert("checkInput");},2000)
             return
         }else {
             var requestData = {
                     "userName": $("#userName").val(),
                     "email": $("#email").val(),
                     "password": $("#password").val(),
                     "passwordTwo":$("#passwordTwo").val()
             }
             $.ajax("/signIn/",{
                 method:"POST",
                 contentType:"application/json",
                 data:JSON.stringify(requestData),
                 dataType:'json',
                 success: function (data){
                     if(data.status ==1){
                        $("#signFailModal").modal("show")
                     }else {
                        $("#signInSuccessModal").modal("show")
                     }
                 }
             })
         }
      })
      $("#signInSuccessModal").on('hidden.bs.modal', function (event) {
          window.location.href = '/index'
      });

  })()
  </script>
    {% include 'footer.html'%}
</body>
</html>