<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- bootstrap -->
    <script src="../static/lib/jq/jquery.js"></script>
    <script src="../static/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/lib/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../static/css/game.css">
    <link rel="stylesheet" href="../static/css/signIn.css">
    <link rel="stylesheet" href="../static/css/login.css">
  <title>Sokoban</title>
</head>