<html lang="en">
 {% include 'common.html'%}
<body>
  {% include 'navHeader.html'%}
  <div class="container">
    <div class="row show-grid">{#box-shadow: 0 0 5px 5px black;#}
        <div id="login" class="row-input col-md-6 col-md-offset-3">
            <div id="alertSpace"></div>
            <div class="input-group input-group-lg">
              <span class="input-group-addon" id="sizing-addon1">@</span>
              <input id="userName" type="text" class="form-control"
                     placeholder="Username" maxlength="24" aria-describedby="sizing-addon1">

            </div>
            <div class="input-group input-group-lg">
                  <span class="input-group-addon">@</span>
                  <input id="password" type="password" class="form-control"
                         placeholder="password" maxlength="20" aria-describedby="sizing-addon1">
            </div>
        <div class="row col-md-8 col-md-offset-3">
           <a href="/signIn">No account, I Want to sign up new account</a>
            <div class="col-md-offset-3">
               <button id= "loginBtn" type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </div>

<!--Model loginSuccessModal-->
<div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
                <div class="alert alert-success" role="alert">login Success!You could play with others</div>
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          </div>
        </div>
      </div>
</div>
<!--Model loginFailModal-->
<div class="modal fade" id="loginFailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
         <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
          <div class="modal-body">
                <div class="alert alert-success" role="alert">login Error!Please Check password and uerName</div>
          </div>
        </div>
      </div>
</div>
</div>
  <script>
  (function (){
      function userNameValid(value){
          var reg = new RegExp('^[0-9A-Za-z]{5,24}$'); //字母，数字 6-24 long
          return reg.test(value)
      }
      function  passWordValid(value){
          return value.length > 6 && value.length < 20
      }
      function addAlert(errorType,errorMessage){
          var domString = "<div data-error-type="+ errorType +" class='alert " +
              "alert-warning alert-dismissible fade in' role='alert'>" +
              "{errorMessage}" +
              "<button type='button' class='close' data-dismiss='alert' aria-label='Close'>"
                + "<span aria-hidden='true'>&times;</span>" +
              "</button>" +
              "</div>"
          var elememt = domString.replace('{errorMessage}', errorMessage)

          if($("#alertSpace").find('[data-error-type='+errorType+']').length==0){
               $("#alertSpace").append(elememt)
          }

      }
      function removeAlert(errorType){
          $('[data-error-type='+errorType+']').remove()
      }
      $("#userName").on('change',function (event){
          if(userNameValid(event.target.value)){
               removeAlert("userNameError");
          }else {
              addAlert("userNameError","Please Check Your UserName,Require No Special Characters");
          }
      });
      $("#password").on('change',function (event){
        if(passWordValid(event.target.value)){
            removeAlert("passwordError");
        }else {
            addAlert("passwordError","Please Check Your PassWord,Require 6-20");
        }

      });

      $("#loginBtn").on('click',function (){
          var $btn = $(this).button('logining')
          //validator input array
         if(! userNameValid($("#userName").val()) || !passWordValid($("#password").val()) ){
             addAlert("checkInput","Please Check Your Input");
             setInterval(function (){
                 removeAlert("checkInput");},2000)
             return
         }else {
             var requestData = {
                     "userName": $("#userName").val(),
                     "password": $("#password").val()
                 }
             $.ajax("/login/",{
                 method:"POST",
                 contentType:"application/json",
                 data:JSON.stringify(requestData),
                 dataType:'json',
                 success: function (data){
                     if(data.status ==1){
                          $('#loginFailModal').modal("show")
                     }else {
                         $("#loginSuccessModal").modal("show")
                     }
                 }
             })
         }
            $btn.button('reset')
      })
      $("#loginSuccessModal").on('hidden.bs.modal', function (event) {
          window.location.href = '/index'
      });
  })()

  </script>
{% include 'footer.html'%}
</body>
</html>